#!/usr/bin/env cwl-runner
# This tool description was formed automatically by argparse2cwl ver. {{ version }}
# To form again: $ {{ formcommand }} --generate_cwl_tool
# Help: $ {{ formcommand }} --help_arg2cwl

cwlVersion: "cwl:draft-3"

class: CommandLineTool
baseCommand: {{ basecommand }}

requirements:
  - class: InlineJavascriptRequirement

description: |
  {{ tool.description }}

inputs:
  {{ inputs }}

{{ outputs }}