#!/usr/bin/env cwl-runner
# This tool description was generated automatically by argparse2tool ver. {{ version }}
# To generate again: $ {{ formcommand }} --generate_cwl_tool
# Help: $ {{ stripped_options_command }} --help_arg2cwl

cwlVersion: v1.0

class: CommandLineTool
baseCommand: {{ basecommand }}

doc: |
  {{ tool.description }}

inputs:
  {{ inputs }}

{{ outputs }}
