{% extends "cwltool.j2" %}

{% block cwltool_inputs %}
{% for param in tool.inputs %}
- id: {{ param.id }}
  type: {{ param.type }}
  inputBinding:
    position: {{ param.position }}
{% endfor %}
- id: {{ tool.name }}
  type: File
  default:
    class: File
    path: {{ tool.name }}
  inputBinding:
    position: 0
{% endblock cwltool_inputs %}
